{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- icon pack -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    
    <!-- styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gnb-ui@0.2.1-alpha/dist/gnb.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pacer Coding Challenge by WB</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- web 3 related package -->
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

  </head>
  <body style="font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif">

    <div id="app">
        {% verbatim %}
        
        <div class="navbar fixed top-0 shadow">
            <div class="navbar-left"><!----><figure class="figure size-48">
                <img src="/static/img/logo.png" />
            </figure><a aria-current="page" href="/" class="router-link-active router-link-exact-active navbar-brand fw-700" style="color:rgb(112, 23, 112);"><span>Pacer Coding Challenge</span></a>
            <button class="btn navbar-burger-icon"><span></span><span></span><span></span></button></div><div class="navbar-center">
                
                <a class="navbar-item mb-5" target="_blank" href="https://github.com/wbtan7"><i class="ri-github-fill fs-3"></i></a><span class="tag secondary fw-600">v-0.0.1 by [wbtan7] Nov'2022</span>
            </div>
        </div>
        
        <div class="docs bg-gray-2" style="height: 100%;overflow: auto;border-top-left-radius: 150px;">
            <section class="section">
                <section class="section docs-title">
                    <div class="container">
                        <h1 class="title-5 fw-700">Task 1 : Simple Backend Endpoint</h1><p class="subtitle"><b>Authenticated via Metamask</b> ,must install metamask plugin to login </p>
                    </div>
                </section>
                <section class="section">
                    <div class="container">
                        <div class="mb-25">
                            <button class="btn secondary mr-10" @click="login">Login</button><span v-if="loadingApi" class="spinner secondary"></span>
                            Login details -
                            <span v-if="publicAddress && access_token"><b>Username : </b>{{formData.username}} - <b>Email : </b>{{formData.email}}</span>
                            <span v-else>Not logged in</span>
                        </div>

                        <button class="btn secondary mr-10" @click="get_score">Get Score</button> /get_score - <code class="text-danger">result = input + 1</code>
                        <div class="mb-25 flex wrap">
                            <div class="form-element mr-10">
                                <label class="label">Input:</label>
                                <input type="text" v-model="input" class="input secondary flat" placeholder="Input" />
                            </div>
                            <div class="form-element">
                                <label class="label">Output:</label>
                                <input disabled type="text" v-model="output" class="input secondary flat" placeholder="output" />
                            </div>
                        </div>

                    </div>
                </section>
            </section>
        </div>

        <div class="modal prevent-close blurred" id="default_modal" :class="{ open: openRegisterModal}">
            <div class="modal-content">
                <button class="close" @click="openRegisterModal=!openRegisterModal"></button>
                <header class="modal-header">
                <h4>Register to continue</h4>
                </header>
                <div class="modal-body">
                    <form @submit.prevent="submit_sign_up">
                        <div class="form-element has-icon-before">
                            <!-- <label class="label">Username:</label> -->
                            <input type="text" class="input" v-model="formData.username" required placeholder="Username" />
                            <div class="input-icon">
                                <i class="ri-user-follow-line"></i>
                            </div>
                        </div>
                        <div class="form-element has-icon-before">
                            <!-- <label class="label">Email:</label> -->
                            <input type="email" class="input" v-model="formData.email" required placeholder="Email" />
                            <div class="input-icon">
                                <i class="ri-at-line"></i>
                            </div>
                        </div>
                        <button class="btn secondary block" type="submit" >Register Here</button>
                    </form>
                </div>
                <footer class="modal-footer text-center">
                </footer>
            </div>
        </div>

        <div class="docs bg-gray-2 mt-10" style="height: 100%;overflow: auto;border-top-left-radius: 150px;">
            <section class="section">
                <section class="section docs-title">
                    <div class="container">
                        <h1 class="title-5 fw-700">Task 2 : Admin Panel</h1>
                    </div>
                
                    <div class="container">
                        <div class="mt-20">
                            <b>Method 1 : </b> <a target="_blank" href="/admin/"><span class="tag secondary">Django Admin Page</span></a>
                            
                        </div>
                        <small>(Username & Password: admin)</small>

                        <div class="mt-50">
                            <p><b>Method 2 : </b> Custom built FrontEnd and BackEnd</p>
                            <p> - Use the search bar to search any row/columns</p>
                            <p> - Click on any individual score to do inline editng</p>
                            <div class="q-pa-ma">
                                <q-table
                                  :rows="rows"
                                  :columns="columns"
                                  row-key="id"
                                  :filter="filter"
                                  :loading="loading"
                                  rows-per-page-label="Row/Page:"
                                >
                            
                                  <template v-slot:top-right>
                                    <div class="form-element">
                                        <input type="text" class="input secondary flat text-center mr-40 square bordered" v-model="filter" placeholder="Search" />
                                    </div>
                                  </template>

                                    <template v-slot:body-cell-score="props">
                                        <q-td :props="props">
                                            {{ props.row.score }}
                                            <q-popup-edit v-model="props.row.score" v-slot="scope">
                                                <div class="form-element">
                                                    <input type="text" class="input secondary flat text-center" v-model="scope.value" placeholder="Name" />
                                                </div>
                                                <button class="btn secondary block" @click="update_score(props.row.id, scope.value)" >Update</button>
                                            </q-popup-edit>
                                        </q-td>
                                    </template>
                            
                                </q-table>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>

      {% endverbatim %}
    </div>

        <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.umd.js"></script>
    <script>

        const { createApp, ref } = Vue

        /* 
        * Follows meta mask authentication from below
        * https://www.toptal.com/ethereum/one-click-login-flows-a-metamask-tutorial
        * and https://github.com/wassafshahzad/django-metamask-auth
        */

        const app = createApp({
            data() {
            return {

                // web page data
                openRegisterModal : false,
                loadingApi : false,
                formData : {
                    username : null,
                    email : null,
                },
                // input & output
                input : null,
                output : null,

                // metamask wallet data
                publicAddress : null,
                nonce : null,
                // authentication token,
                refresh_token : null,
                access_token : null,

                // table
                loading : true,
                filter : '',
                rowCount : 10,
                rows : [],
                columns : [
                    { name: 'id', required: true, label: 'Id', field:"id" , align: 'center', sortable: true},
                    { name: 'score', align: 'center', label: 'Score', field: 'score', sortable: true },
                    { name: 'username', align: 'center', label: 'Username', field: 'username', sortable: true },
                ]
            }
            },
            methods : {
                handle_sign_up : function (){
                    this.openRegisterModal = true;
                },
                submit_sign_up : function(){
                    fetch(`metamask/`, {
                        body: JSON.stringify({
                            user : this.formData,
                            public_address : this.publicAddress
                        }),
                        headers: {
                            'Content-Type' : 'application/json'
                        },
                        method: 'POST'
                    }).then(response => {
                        if(response.ok){
                            response = response.json();
                            this.handle_nonce(resposne)
                            this.openRegisterModal = false;
                        }else{
                            alert("Failed signup! Please try again later!");
                        }
                    })
                },
                get_signer : async function(){
                    // get public address
                    const provider = new ethers.providers.Web3Provider(window.ethereum, "goerli");
                    await provider.send("eth_requestAccounts", [])
                    const accounts = await provider.listAccounts()
                    const signer = provider.getSigner(accounts[0]);
                    return signer
                },
                // sign nonce
                handle_nonce: async function(json_response){
                    this.nonce = json_response.nonce;
                    this.formData.username = json_response.user.username;
                    this.formData.email = json_response.user.email;

                    const signer = await this.get_signer();
                    const signed_nonce = await signer.signMessage(`I am signing my one-time nonce: ${this.nonce}`);
                    this.handle_authentication(signed_nonce);

                },
                handle_authentication: function(signature){
                    fetch(`metamask/login/${this.publicAddress}`, {
                        body: JSON.stringify({ signature : signature }),
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        method: 'POST'
                    }).then(response => response.json())
                    .then( response => {
                        this.refresh_token = response.refresh;
                        this.access_token = response.access;
                    });
                },
                login : async function (){
                    
                    // get signer if null
                    const signer = await this.get_signer();
                    this.publicAddress = await signer.getAddress();
                    
                    // check if user with current public address is already present on back end
                    this.loadingApi = true
                    fetch(`metamask/${this.publicAddress}`)
                    // if yes, retrieve it. if no, create it.
                    .then(response => {
                        if(response.ok ){
                            return response.json()
                        }
                        else {
                            this.handle_sign_up()
                        }
                    })
                    .then(response => this.handle_nonce(response))
                    .finally( () => this.loadingApi = false )
                },
                get_score: async function(){
                    
                    fetch(`get_score?score=${this.input}`, {
                        headers: new Headers({
                            'Authorization': 'Bearer '+this.access_token, 
                        }), 
                    })
                    .then(response => response.ok || response.status != 401 ? response.json() : alert("Not Authenticated!"))
                    .then(response => this.output = response.Result ? response.Result : response.Error)

                },
                update_score : function(id, update_value){

                    this.$q.loading.show()
                    fetch(`/score_log/${id}/`, {
                        body: JSON.stringify({ score : update_value }),
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        method: 'PATCH'
                    }).then(response => this.rows.find(row => row.id == id).score = update_value)
                    .finally( () => this.$q.loading.hide());
                }
            },
            created(){

                // for task 2 custom table
                fetch(`/score_log/`)
                    // if yes, retrieve it. if no, create it.
                    .then(response => response.ok ? response.json() : response)
                    .then(response => this.rows = response)
                    .finally( () => this.loading = false )
            }
        })
        
        app.use(Quasar,{
            config: {
                loading: { boxClass : "text-deep-purple-7" }
            }
        })
        app.mount('#app')

    </script>

  </body>
</html>